body{
	background: #FFD7D3;
	font-family: Helvetica, san-serif;
	text-align: center;
}
hr{
	size:40px;
}
h1{
	font-family: Bodoni, serif;
	color: #FF553B;
	font-size: 15px;
}
.slogan{
	font-style: italic;
}
